<nav class="bg-gray-800 p-4">
    <ul class="flex space-x-4">
        <li>
            <a routerLink="/home" routerLinkActive="bg-gray-900"
                class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="bg-gray-900"
                class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                about
            </a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="bg-gray-900"
                class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Contact
            </a>
        </li>
    </ul>
</nav>